@import "--var.scss";
@import "--mixing.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none !important;
}
a {
  text-decoration: none !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}
.demo {
  display: flex;
  justify-content: center;
  align-items: center;
}
// nav
body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
  z-index: 10;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}
// nav
// top nav
.top_nav_main_div {
  background-color: $c2;
  padding: 10px 15px;
}
.top_nav_main_div_left {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    color: #bcbdbe;
    font-size: 12px;
    font-weight: 550;
    span {
      margin-left: 5px;
    }
    i {
      color: $c1;
      font-size: 18px;
      margin-top: 3px;
    }
  }
  p {
    margin-bottom: 0;
    margin-left: 10px;
    color: #bcbdbe;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 550;
    i {
      margin-right: 5px;
      color: $c1;
      font-size: 18px;
      margin-top: 3px;
    }
  }
}
.top_nav_main_div_right {
  display: flex;
  align-items: center;
  justify-content: end;
  a {
    display: flex;
    align-items: center;
    color: #bcbdbe;
    font-size: 12px;
    font-weight: 550;
    span {
      margin-left: 5px;
    }
    i {
      color: $c1;
      font-size: 18px;
      margin-top: 3px;
    }
  }
  p {
    margin-bottom: 0;
    margin-left: 10px;
    color: #bcbdbe;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 550;
    i {
      margin-right: 5px;
      color: $c1;
      font-size: 18px;
      margin-top: 3px;
    }
  }
}
.top_nav_main_div_right_inner {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  a {
    margin: 0 10px;
    transition: all 0.3s;
    &:hover {
      i {
        color: white;
      }
    }
  }
}
