* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none !important;
}

a {
  text-decoration: none !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  -webkit-transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
  z-index: 10;
  -webkit-transition: opacity 0.3s ease, width 0s;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.top_nav_main_div {
  background-color: #212226;
  padding: 10px 15px;
}

.top_nav_main_div_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_nav_main_div_left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bcbdbe;
  font-size: 12px;
  font-weight: 550;
}

.top_nav_main_div_left a span {
  margin-left: 5px;
}

.top_nav_main_div_left a i {
  color: #87c332;
  font-size: 18px;
  margin-top: 3px;
}

.top_nav_main_div_left p {
  margin-bottom: 0;
  margin-left: 10px;
  color: #bcbdbe;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 550;
}

.top_nav_main_div_left p i {
  margin-right: 5px;
  color: #87c332;
  font-size: 18px;
  margin-top: 3px;
}

.top_nav_main_div_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.top_nav_main_div_right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bcbdbe;
  font-size: 12px;
  font-weight: 550;
}

.top_nav_main_div_right a span {
  margin-left: 5px;
}

.top_nav_main_div_right a i {
  color: #87c332;
  font-size: 18px;
  margin-top: 3px;
}

.top_nav_main_div_right p {
  margin-bottom: 0;
  margin-left: 10px;
  color: #bcbdbe;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 550;
}

.top_nav_main_div_right p i {
  margin-right: 5px;
  color: #87c332;
  font-size: 18px;
  margin-top: 3px;
}

.top_nav_main_div_right_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.top_nav_main_div_right_inner a {
  margin: 0 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top_nav_main_div_right_inner a:hover i {
  color: white;
}
/*# sourceMappingURL=index.css.map */