@import "--var.scss";
@import "--mixing.scss";
@media (max-width: 576px) {
  .services_card_div {
    height: 7rem;
    border-color: $c3;
    .services_card_div_img {
      width: 2rem;
      height: 2rem;
    }
    h3 {
      font-size: 10px;
    }
    p {
      display: none;
    }
  }
  .section_title_div {
    h3 {
      font-size: 22px;
    }
  }
  .index_about_div {
    p {
      font-size: 13px;
      padding: 0 0;
      text-align: justify;
    }
  }
  .slider_img {
    transform: unset;
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: unset;
    animation-name: zoomin;
    animation-duration: unset;
  }
  @-webkit-keyframes posi {
    to {
      left: 0%;
    }
  }

  @keyframes posi {
    to {
      left: 0%;
    }
  }
  .my_slider2_text_div_over {
    display: block;
    position: absolute;
    background-color: #00000080;
    height: 370px;
    width: 100%;
  }
  .dot {
    margin: 0 5px;
  }
  .my_slider2_text_div {
    justify-content: center;
  }
  .my_slider2 {
    .txt {
      bottom: 40%;
      left: 0%;
      width: 100%;
      text-align: center;
      padding: 10px 10px;
      // background-color: black;
      h3 {
        font-size: 25px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
      }
      small {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
  .prev,
  .next {
    display: none;
  }
  .slider {
    height: 370px;
    background: transparent;
  }
  .slider_img {
    height: 74%;
  }
  .my_slider1 {
    .txt {
      top: 12%;
      left: 0;
      width: 100%;
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 30px;
      }
      p {
        font-size: 10px;
        padding: 0 15px;
        font-weight: 500;
        line-height: 17px;
      }
    }
  }
  .right_nav {
    display: none;
  }
  .my_navbar {
    .navbar-nav {
      margin-top: 2rem;
      .nav_active {
        a {
          color: #87c332;
          border-bottom: none;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .index_about_div {
    p {
      font-size: 15px;
      padding: 0 0;
    }
  }
  .my_slider2 {
    .txt {
      bottom: 28%;
      left: 9%;
      width: 47%;
      h3 {
        font-size: 34px;
      }
      p {
        font-size: 15px;
        font-weight: 400;
      }
      small {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
  .my_slider1 {
    .txt {
      top: 12%;
      left: 0;
      width: 100%;
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 30px;
      }
    }
  }
  .right_nav {
    display: none;
  }
  .my_navbar {
    .navbar-nav {
      margin-top: 2rem;
      .nav_active {
        a {
          color: #87c332;
          border-bottom: none;
        }
      }
    }
  }
}
/* ============ mobile view ============ */
@media all and (max-width: 991px) {
  .offcanvas-header {
    display: block;
  }

  .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .mobile-offcanvas.show {
    visibility: visible;
    transform: translateX(0);
  }

  .mobile-offcanvas .container,
  .mobile-offcanvas .container-fluid {
    display: block;
  }
}
@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
@media (min-width: 1024px) {
  .services_card_div {
    height: 13rem;
    .services_card_div_img {
      width: 3rem;
      height: 3rem;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 11px;
    }
  }
  .index_about_div {
    p {
      font-size: 15px;
      padding: 0 2rem;
    }
  }
  .my_slider2 {
    .txt {
      bottom: 28%;
      left: 9%;
      width: 47%;
      h3 {
        font-size: 45px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
      }
      small {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
  .my_slider1 {
    position: relative;
    .txt {
      top: 12%;
      left: unset;
      width: 45%;
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 30px;
      }
      p {
        margin-bottom: 0;
        font-size: 12px;
      }
      a {
        margin-top: 1rem;
      }
    }
  }
  .right_nav {
    display: flex;
  }
  .my_navbar {
    .navbar-nav {
      margin-top: unset;
      .nav_active {
        a {
          color: #87c332;
          border-bottom: 3px solid #87c332;
        }
      }
    }
  }
  .logo {
    width: 6rem;
    margin-left: 5px;
  }
  .my_navbar {
    .navbar-nav {
      .nav-link {
        font-size: 12px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .services_card_div {
    height: 16rem;
    .services_card_div_img {
      width: 5rem;
      height: 5rem;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
  .index_about_div {
    p {
      font-size: 15px;
      padding: 0 12rem;
    }
  }
  .my_slider2 {
    .txt {
      bottom: 28%;
      left: 9%;
      width: 40%;
      h3 {
        font-size: 55px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
      }
      small {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
  .my_navbar {
    .navbar-nav {
      .nav-link {
        font-size: 15px;
      }
    }
  }

  .logo {
    width: 11rem;
    margin-left: 15px;
  }
}
